@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(45deg, rgb(132, 68, 145), rgb(81, 149, 151));
  color: white;
}

header {
  font-weight: 400;
  text-align: center;
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  border: none;
  cursor: pointer;
  color: rgb(36, 255, 200);
  background: white;
  transition: all 300ms ease;
}

form button:hover {
  color: white;
  background: rgb(36, 255, 200);
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style: none;
  min-width: 30%;
  max-width: 70%;
}

.todo {
  margin-block: 0.7rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo-item {
  flex: 1;
  padding-inline: 1rem;
}

.complete-button,
.delete-button {
  border: none;
  padding: 1rem;
  cursor: pointer;
  color: white;
  background: rgb(165, 100, 80);
  font-size: 1.4rem;
}

.complete-button {
  background: rgb(43, 146, 69);
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  color: rgb(36, 255, 200);
  cursor: pointer;
  width: 10rem;
}

.select::after {
  content: "\25BC";
  position: aboslute;
  background: rgb(81, 149, 151);
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
}
